extends layout

include mixins/_arrowCard
include mixins/_headerLabel
include mixins/_listLabel

block subheader
    .subheader.blue
        .box-arrow-month
            .box-arrow
                +arrowCard(headerTitles[1], '<')
                +arrowCard(headerTitles[1], '>')
            p.label.light.label-month= `${monthsAbbreviated[requestMonth - 1]} ${requestYear}` 
        .box-advanced-buttons
            a(href=`/excel/${requestYear}/${requestMonth}`)
                img(src="/images/excel.png", alt="Button Excel")

block content
    .box-canvas.app
        .canvas.full.application.list-canvas
            .box-list
                - for(a = 0; a < 3; a++)
                    +headerLabel(['Date', 'Event', 'Location'])
                - for(b = 0; b < events.length; b++)
                        - if (events[b].beginDay == events[b].endDay && events[b].beginMonth == events[b].endMonth)
                            +listLabel((events[b].beginDay + ' ' + events[b].beginMonth + ' ' + events[b].beginYear), b % 2)
                        - else if (events[b].beginMonth == events[b].endMonth)
                            +listLabel((events[b].beginDay + ' - ' + events[b].endDay + ' ' + events[b].beginMonth + ' ' + events[b].beginYear), b % 2)
                        - else 
                            +listLabel((events[b].beginDay + ' ' + events[b].beginMonth + ' - ' + events[b].endDay + ' ' + events[b].endMonth + ' ' + events[b].beginYear), b % 2)
                        +listLabel(events[b].title, b % 2) 
                        +listLabel(events[b].location, b % 2)

